:host {
  .tab-link {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 700;
    vertical-align: middle;
    color: #8f9bb3;

    &.active {
      color: var(--primary);
    }
  }
}

