:host {
  .tab-link {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    color: var(--text-color);

    > span {
      font-family: Open Sans, sans-serif;
      font-size: 0.9375rem;
      font-weight: 600;
      line-height: 1.5rem;
    }

    &.active {
      color: var(--primary);
    }
  }
}
