<div class="flex flex-col gap-4 p-4 h-full overflow-y-auto">
  <!--Header-->
  <div class="flex flex-col gap-4 rounded-xl shadow p-4 bg-white p-6">
    <div class="flex flex-col gap">
      <!--Edit-->
      <div class="flex justify-end">
        <button mat-icon-button (click)="updateBudget()">
          <mat-icon class="text-gray-800">edit</mat-icon>
        </button>
      </div>

      <!--Icon Title-->
      <div class="flex flex-col gap-4 items-center">
        <div
          class="flex items-center justify-center h-20 w-20 rounded-full shadow bg-{{
            budget.category.color
          }}"
        >
          <span class="text-4xl w-10 h-10 text-center">
            <mat-icon class="text-white" inline>
              {{ budget.category.icon }}
            </mat-icon>
          </span>
        </div>

        <h2 class="!mb-0 !leading-none">{{ budget.name | titlecase }}</h2>
      </div>
    </div>

    <!--Category progress-->
    <div class="flex flex-col w-full">
      <div class="flex justify-between items-center">
        <!--Spent-->
        <div class="flex flex-col">
          <div class="text-sm font-medium">Gastado</div>
          <div class="text-sm text-red-500 pt-1">
            ${{ budget.spent | number }}
          </div>
        </div>

        <!--Available-->
        <div class="flex flex-col items-end">
          <div class="text-sm font-medium">Quedan</div>
          <div class="text-sm text-green-500 pt-1">
            ${{ budget.amount - budget.spent | number }}
          </div>
        </div>
      </div>

      <app-progress
        class="mt-2"
        [progress]="budget.percentage"
        color="bg-{{ budget.category.color }}"
      ></app-progress>
    </div>

    <!--Category info-->
    <div class="flex flex-col w-full">
      <div class="flex justify-between items-center pb-3">
        <div class="font-medium">Presupuesto</div>
        <div>{{ budget.amount | currency }}</div>
      </div>
      <div class="flex justify-between items-center pt-3">
        <div class="font-medium">Periodo</div>
        <div>{{ formatInterval() }}</div>
      </div>
    </div>
  </div>

  <div class="gap-4 rounded-xl px-6 py-4">
    <div class="text-lg font-medium flex items-center">
      <mat-icon>timeline</mat-icon>
      <span class="pl-4">Movimientos</span>
    </div>

    <div
      *ngIf="!movements?.length"
      class="text-sm text-center font-medium pt-4 pb-2"
    >
      No se encontraron movimientos
    </div>
  </div>

  <div class="grow flex flex-col rounded-xl gap-4">
    <ng-container *ngIf="!!movements?.length">
      <div
        class="flex flex-col rounded-xl shadow p-6 bg-white"
        *ngFor="let item of movements | groupMovement"
      >
        <app-movement-list
          [groupMovement]="item"
          (movementClick)="showMovementDetail($event)"
        >
        </app-movement-list>
      </div>
    </ng-container>
  </div>
</div>
