<app-content>
  <!-- Balance -->
  <div class="flex flex-col gap-4 rounded-xl shadow bg-white p-6 w-full">
    <div class="flex pb-3">
      <mat-icon class="text-blue-500">task_alt</mat-icon>
      <div class="pl-1 text-lg font-medium">Balance Total</div>
    </div>
    <div class="flex text-3xl font-bold text-blue-500">
      {{ '$' + (balance?.balance | number) }}
    </div>
  </div>

  <div class="flex gap-4">
    <!-- Incomes -->
    <div
      matRipple
      class="flex flex-col rounded-xl shadow px-6 py-5 bg-white w-1/2"
    >
      <div class="flex pb-2">
        <mat-icon class="text-green-500">trending_up</mat-icon>
        <div class="pl-1 text font-medium">Ingresos</div>
      </div>
      <div class="text-xl font-medium text-esmerald-500">
        {{ '$' + (balance?.incomeMonth | number) }}
      </div>
    </div>

    <!-- Expenses -->
    <div
      matRipple
      class="flex flex-col rounded-xl shadow px-6 py-5 bg-white w-1/2"
    >
      <div class="flex pb-2">
        <mat-icon class="text-red-500">trending_down</mat-icon>
        <div class="pl-1 text font-medium">Gastos</div>
      </div>
      <div class="text-xl font-medium text-red-500">
        {{ '$' + (balance?.expenseMonth | number) }}
      </div>
    </div>
  </div>

  <div class="flex flex-col md:p-6 col-span-4 bg-white rounded-xl p-6 shadow">
    <!-- Card header -->
    <div class="flex justify-between">
      <div class="text-lg font-medium pb-2 md:pb-0">
        <ng-container [ngSwitch]="expensePeriod">
          <span *ngSwitchCase="'day'">Gastos Diarios</span>
          <span *ngSwitchCase="'week'">Gastos Semanales</span>
          <span *ngSwitchCase="'month'">Gastos Mensuales</span>
        </ng-container>
      </div>
      <div class="ml-2 -mt-2 -mr-3">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="changeExpenseView('day')">
            <mat-icon>today</mat-icon>
            <span>Diario</span>
          </button>
          <button mat-menu-item (click)="changeExpenseView('week')">
            <mat-icon>date_range</mat-icon>
            <span>Semanal</span>
          </button>
          <button mat-menu-item (click)="changeExpenseView('month')">
            <mat-icon>calendar_month</mat-icon>
            <span>Mensual</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <!-- Card chart -->
    <apx-chart
      #expenseChart
      *ngIf="pieOptions"
      [series]="pieOptions.series"
      [chart]="pieOptions.chart"
      [fill]="pieOptions.fill"
      [colors]="pieOptions.colors"
      [labels]="pieOptions.labels"
      [dataLabels]="pieOptions.dataLabels"
      [stroke]="pieOptions.stroke"
      [plotOptions]="pieOptions.plotOptions"
      [legend]="pieOptions.legend"
      [tooltip]="pieOptions.tooltip"
      [responsive]="pieOptions.responsive"
      [states]="pieOptions.states"
      [noData]="pieOptions.noData"
    >
    </apx-chart>

    <div class="flex flex-col gap-2">
      <app-list-item
        *ngFor="let expense of categoryExpenses"
        [icon-color]="expense.category.color"
        [icon]="expense.category.icon"
        [title]="expense.category.name"
        [subtitle]="'$' + (expense.amount | number)"
        [value]="expense.percentage + '%'"
        value-color="purple-500"
        (click)="showCategoryMovements(expense)"
      ></app-list-item>
    </div>
  </div>

  <div class="flex flex-col col-span-4 rounded-xl shadow p-6 bg-white gap-2">
    <div class="flex justify-between">
      <div class="text-lg font-medium">Movimientos</div>
      <div class="ml-2 -mt-1 -mr-3">
        <button class="text-purple-500" mat-button>Ver todo</button>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <app-list-item
        *ngFor="let movement of lastMovements"
        [icon-color]="movement.category?.color"
        [icon]="movement.category?.icon"
        [title]="movement.description"
        [subtitle]="movement.category?.name"
        [value]="'$' + (movement.amount | number)"
        [value-color]="movement.type === 'income' ? 'green-500' : 'red-500'"
        (click)="showMovementDetail(movement)"
      >
      </app-list-item>
    </div>
  </div>
</app-content>
