<app-content>
  <app-card>
    <div class="flex justify-between">
      <span class="text-lg font-medium">Programados</span>
      <div class="ml-2 -mt-2 -mr-3">
        <button mat-icon-button (click)="openScheduledForm()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <app-list-item
        *ngFor="let item of scheduled"
        [icon-color]="item.category.color"
        [icon]="item.category.icon"
        [title]="item.description"
        [subtitle]="item.date"
        [value]="'$' + (item.amount | number)"
        [value-color]="item.type === 'income' ? 'green-500' : 'red-500'"
        (click)="openScheduledForm(item)"
      >
      </app-list-item>
    </div>
  </app-card>
</app-content>
