:host {
  .select-category {
    position: relative;

    app-icon {
      cursor: pointer;
    }

    .options {
      position: absolute;
      top: 50px;
      width: 100%;
      background: var(--bg-primary);
      border: 1px solid var(--border);
      z-index: 1;

      > div {
        padding: 10px 5px;
        cursor: pointer;
      }
    }
  }

  input, span {
    flex: 1;
    background: var(--bg-secondary);
    color: var(--text-color);
    appearance: auto;
  }

  .hidden {
    display: none;
  }
}
