<app-card>
  <app-tabset>
    <app-tab [active]="true" tabTitle="Gastos" icon="trending_down">
      <app-chart-pie class="tab-item" [config]="doughnut" width="250px"></app-chart-pie>
      <app-chart-bar class="tab-item" [config]="doughnut" width="400px"></app-chart-bar>
      <div class="tab-item">
        <app-card >
          <app-card-header>
            Hello
          </app-card-header>
          <app-list>
            <app-list-item>
              world
            </app-list-item>
            <app-list-item>
              world
            </app-list-item>
            <app-list-item>
              world
            </app-list-item>
            <app-list-item>
              world
            </app-list-item>
          </app-list>
        </app-card>
      </div>
    </app-tab>
    <app-tab  tabTitle="Ingresos" icon="trending_up">
    </app-tab>
    <app-tab tabTitle="Balance" icon="assessment">
      <div>hello 3</div>
    </app-tab>
  </app-tabset>
</app-card>
