app-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .tab-item {
    width: calc(100vh / 3);
    padding: 2rem 0;
  }
}

@media (max-width: 600px) {
  app-tab {
    flex-direction: column;

    .tab-item {
      width: 100vh;
    }
  }
}


@media (max-width: 1400px) {
  app-tab {
    flex-direction: row;
    flex-wrap: wrap;

    .tab-item {
      width: 50vh;
    }
  }
}
