<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <app-card>
        <app-card-header>Finances</app-card-header>
        <app-card-body>
          <app-chart-bar
            class="tab-item"
            [config]="bar2"
            width="100%">
          </app-chart-bar>
        </app-card-body>
      </app-card>
    </div>
    <div class="col-12 col-md-4">
      <app-card>
        <app-card-header>Finances</app-card-header>
        <app-card-body>
          <app-chart-pie
            [config]="doughnut"
            width="100%">
          </app-chart-pie>
        </app-card-body>
      </app-card>
    </div>
    <div class="col-12 col-md-4">
      <app-card>
        <app-card-header>Finances</app-card-header>
        <app-card-body>
          <app-list>
            <app-list-item>
              world
            </app-list-item>
            <app-list-item>
              world
            </app-list-item>
            <app-list-item>
              world
            </app-list-item>
            <app-list-item>
              world
            </app-list-item>
          </app-list>
        </app-card-body>
      </app-card>
    </div>
  </div>
</div>
