:host {
  input {
    border-radius: .25rem;
    background: var(--background);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    &:focus {
      border: 2px solid var(--primary);
    }
  }
}
