:host {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--border);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: var(--text-color);
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
}
