.chart-button {

}

.chart-group-btn {
  button {
    @apply py-1 mx-2 px-0.5 text-sm text-gray-700 font-medium;
  }
}

.selected {
  @apply border-b-2 border-blue-500;
}


:host {
  app-card-body {
    .row {
      align-items: center;
    }
  }

  .chart {
    h4 {
      padding-top: 15px;
      padding-bottom: 5px;
    }

    .chart-label {
      font-size: 1.2rem;
      font-weight: 600;
      padding-bottom: 10px;
    }
  }

  app-chart-pie {
    margin: auto;
  }

  .table {
    max-height: 200px;
    overflow-y: scroll;
  }

  tr :nth-of-type(1) {
    text-align: left;
  }

  tr :nth-of-type(2) {
    text-align: right;
    padding-right: 10px;
  }

  tr {
    border-bottom: 1px solid #ebedf0;
  }

  th,
  td {
    color: #404250;
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  .category {
    padding-left: 0.3rem;
  }

  .budget {
    height: 100%;
  }

  .heritage {
    span {
      padding: 10px;
    }
  }

  app-chart-bar {
    padding-top: 25px;
    height: 90%;
  }
}

#chart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

