<div class="p-4 md:p-8 flex flex-col m-auto max-w-7xl">

  <div class="grid grid-cols-4 gap-4 md:grid-cols-6 md:gap-8">

    <div matRipple class="flex flex-col col-span-4 md:col-span-2 rounded-xl shadow p-6 bg-white">
      <div class="flex mb-3">
        <mat-icon class="text-purple-500">task_alt</mat-icon>
        <div class="pl-2 text-lg font-medium">Balance Total</div>
      </div>
      <div class="text-3xl font-bold text-purple-500">${{ 2600000 | number }}</div>
    </div>

    <div matRipple class="flex flex-col col-span-2 md:col-span-2 rounded-xl shadow p-4 bg-white">
      <div class="flex mb-3">
        <mat-icon class="text-green-500">trending_up</mat-icon>
        <div class="pl-2 text font-medium">Ingresos</div>
      </div>
      <div class="text-xl font-medium text-green-500">${{ 2600000 | number }}</div>
    </div>

    <div matRipple class="flex flex-col col-span-2 md:col-span-2 rounded-xl shadow p-4 bg-white">
      <div class="flex mb-3">
        <mat-icon class="text-red-500">trending_down</mat-icon>
        <div class="pl-2 text font-medium">Gastos</div>
      </div>
      <div class="text-xl font-medium text-red-500">${{ 2600000 | number }}</div>
    </div>

    <div class="flex flex-col md:p-6 col-span-4 bg-white rounded-xl p-6 shadow">
      <!-- Card header -->
      <div class="flex justify-between">
        <div class="text-lg font-medium pb-2 md:pb-0">Gastos {{ expenseView }}</div>
        <div class="ml-2 -mt-2 -mr-3">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="expenseView = 'daily'">
              <mat-icon>done</mat-icon>
              <span>Diario</span>
            </button>
            <button mat-menu-item (click)="expenseView = 'weekly'">
              <mat-icon>notifications_on</mat-icon>
              <span>Semanal</span>
            </button>
            <button mat-menu-item (click)="expenseView = 'monthly'">
              <mat-icon>notifications_off</mat-icon>
              <span>Mensual</span>
            </button>
          </mat-menu>
        </div>
      </div>

      <!-- Card chart -->
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [colors]="chartOptions.colors"
        [dataLabels]="chartOptions.dataLabels"
        [grid]="chartOptions.grid"
        [labels]="chartOptions.labels"
        [legend]="chartOptions.legend"
        [plotOptions]="chartOptions.plotOptions"
        [states]="chartOptions.states"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis">
      </apx-chart>

      <div class="flex flex-col">
        <div class="flex justify-between pb-2">
          <div class="text-sm font-medium">Promedio 7 dias</div>
          <div class="text-sm font-medium text-red-500">${{ 60000 | number }}</div>
        </div>
        <div class="flex justify-between">
          <div class="text-sm font-medium">Promedio mensual</div>
          <div class="text-sm font-medium text-red-500">${{ 60000 | number }}</div>
        </div>
      </div>
    </div>

    <div class="flex flex-col col-span-4 rounded-xl shadow p-6 bg-white gap-4">
      <div class="flex justify-between">
        <div class="text-lg font-medium">Movimientos</div>
        <div class="ml-2 -mt-1 -mr-3">
          <button class="text-purple-500" mat-button>
            Ver todo
          </button>
        </div>
      </div>

      <ul class="flex flex-col gap-2">
        <li matRipple class="flex justify-between items-center">
          <div class="flex items-center">
            <mat-icon>trending_down</mat-icon>
            <div class="pl-3 flex flex-col">
              <div class="text font-medium">Transaction 1</div>
              <div class="text-sm">smaller</div>
            </div>
          </div>
          <div class="text-lg font-medium text-green-500">${{ 60000 | number }}</div>
        </li>
        <li matRipple class="flex justify-between items-center">
          <div class="flex items-center">
            <mat-icon>trending_up</mat-icon>
            <div class="pl-3 flex flex-col">
              <div class="text font-medium">Transaction 1</div>
              <div class="text-sm">smaller</div>
            </div>
          </div>
          <div class="text-lg font-medium text-red-500">${{ 60000 | number }}</div>
        </li>
        <li matRipple class="flex justify-between items-center">
          <div class="flex items-center">
            <mat-icon>trending_down</mat-icon>
            <div class="pl-3 flex flex-col">
              <div class="text font-medium">Transaction 1</div>
              <div class="text-sm">smaller</div>
            </div>
          </div>
          <div class="text-lg font-medium text-green-500">${{ 60000 | number }}</div>
        </li>
        <li matRipple class="flex justify-between items-center">
          <div class="flex items-center">
            <mat-icon>trending_up</mat-icon>
            <div class="pl-3 flex flex-col">
              <div class="text font-medium">Transaction 1</div>
              <div class="text-sm">smaller</div>
            </div>
          </div>
          <div class="text-lg font-medium text-red-500">${{ 60000 | number }}</div>
        </li>
        <li matRipple class="flex justify-between items-center">
          <div class="flex items-center">
            <mat-icon>trending_up</mat-icon>
            <div class="pl-3 flex flex-col">
              <div class="text font-medium">Transaction 1</div>
              <div class="text-sm">smaller</div>
            </div>
          </div>
          <div class="text-lg font-medium text-red-500">${{ 60000 | number }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
