:host {
  app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .tab-link {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: var(--text-color);

      .tab-title {
        padding-top: 5pt;
        font-size: 0.7rem;
        text-transform: capitalize;
      }

      &.active {
        color: var(--primary);
        border-bottom: solid 2px var(--primary)
      }
    }
  }

  @media (min-width: 600px) {
    app-container {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;

      .tab-link {
        width: unset;
        flex-direction: row;
        padding: 12px 30px 10px 0;
        margin-right: 2px;
        font-size: medium;
        font-weight: 500;

        .tab-title {
          padding-top: 0;
          padding-left: 2pt;
          font-size: 1rem;
        }
      }
    }
  }
}
