.select {
  border-radius: .25rem;
  background: var(--bg-secondary);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: var(--text-color);

  select::-ms-expand {
    display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
  }

  &:focus {
    border: 1px solid var(--primary);
  }

  > option {
    background: #1a1f33;

  }
}
