<app-content>
  <app-card>
    <div class="flex justify-between">
      <span class="font-medium text-md text-secondary">Modo oscuro</span>
      <mat-slide-toggle
        color="primary"
        (change)="toggleScheme($event)"
        [checked]="scheme === 'dark'"
      ></mat-slide-toggle>
    </div>
  </app-card>
  <app-card>
    <div class="text-md font-semibold text-secondary">Tema</div>
    <div class="grid grid-cols-2 gap-4">
      <button
        *ngFor="let theme of themeConfig"
        class="p-2 rounded-full bg-default box-border border-2"
        [class.border-transparent]="theme.name !== currentTheme?.name"
        [ngClass]="theme.name === currentTheme?.name && 'border-' + theme.main"
        (click)="setTheme(theme.name)"
      >
        <div class="flex items-center justify-center gap-2">
          <div class="flex-0 w-3 h-3 rounded-full bg-{{ theme.main }}"></div>
          <span
            class="text font-medium text-secondary"
            [class.text-default]="theme.name === currentTheme?.name"
            [class.text-secondary]="theme.name !== currentTheme?.name"
          >
            {{ theme.name | capitalize }}
          </span>
        </div>
      </button>
    </div>
  </app-card>
</app-content>
