<section class="grid">
  <app-card >
    asdasda
  </app-card>
  <app-card>
    <div class="icon-container">
      <div class="icon-background">
        <span class="material-icons-outlined">calculate</span>
      </div>
    </div>
    <div class="text-content">
      <h2 class="title">Matematicas</h2>
    </div>
  </app-card>
  <app-card>
    <div class="icon-container">
      <div class="icon-background">
        <span class="material-icons-outlined">calculate</span>
      </div>
    </div>
    <div class="text-content">
      <h2 class="title">Matematicas</h2>
    </div>
  </app-card>
  <app-card>
    <div class="icon-container">
      <div class="icon-background">
        <span class="material-icons-outlined">calculate</span>
      </div>
    </div>
    <div class="text-content">
      <h2 class="title">Matematicas</h2>
    </div>
  </app-card>
</section>
