// Angular material overrides

/* Making the select panel full width and centered. */
::ng-deep .mat-select-panel {
  min-width: 100% !important;
}

/* Centering the datepicker popup. */
::ng-deep .mat-datepicker-popup {
  margin: 0 auto;
  left: 50% !important;
  transform: translate(-50%, 0);
}

/* Changing the background color of the selected date in the datepicker. */
::ng-deep .mat-calendar .mat-calendar-body-selected {
  @apply bg-blue-500;
}
