<div class="p-4 md:p-8 flex flex-col m-auto max-w-7xl">

  <div class="grid grid-cols-4 gap-4 md:grid-cols-6 md:gap-8">

    <div class="flex flex-col col-span-4 rounded-xl shadow p-6 bg-white">
      <div class="text-lg font-medium">Movimientos</div>

      <div class="divide-y">
        <div class="">
          <div class="flex justify-between items-center pb-2 pt-3">
            <div class="text-sm tracking-tight font-medium text-indigo-500">Mie 15 de septiembre de 2021</div>
            <div class="text-sm font-medium">${{ 50000 | number }}</div>
          </div>
          <ul class="flex flex-col">
            <li matRipple class="flex justify-between items-center py-1">
              <div class="flex items-center">
                <mat-icon>trending_down</mat-icon>
                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">Transaction 1</div>
                  <div class="text-sm">smaller</div>
                </div>
              </div>
              <div class="text-sm font-medium text-green-500">${{ 60000 | number }}</div>
            </li>
            <li matRipple class="flex justify-between items-center py-1">
              <div class="flex items-center">
                <mat-icon>trending_up</mat-icon>
                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">Transaction 1</div>
                  <div class="text-sm">smaller</div>
                </div>
              </div>
              <div class="text-sm font-medium text-red-500">${{ 60000 | number }}</div>
            </li>
            <li matRipple class="flex justify-between items-center py-1">
              <div class="flex items-center">
                <mat-icon>trending_down</mat-icon>
                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">Transaction 1</div>
                  <div class="text-sm">smaller</div>
                </div>
              </div>
              <div class="text-sm font-medium text-green-500">${{ 60000 | number }}</div>
            </li>
            <li matRipple class="flex justify-between items-center py-1">
              <div class="flex items-center">
                <mat-icon>trending_up</mat-icon>
                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">Transaction 1</div>
                  <div class="text-sm">smaller</div>
                </div>
              </div>
              <div class="text-sm font-medium text-red-500">${{ 60000 | number }}</div>
            </li>
          </ul>
        </div>

        <div class="">
          <div class="flex justify-between items-center pb-2 pt-3">
            <div class="text-sm tracking-tight font-medium text-indigo-500">Mie 15 de septiembre de 2021</div>
            <div class="text-sm font-medium">${{ 50000 | number }}</div>
          </div>
          <ul class="flex flex-col">
            <li matRipple class="flex justify-between items-center py-1">
              <div class="flex items-center">
                <mat-icon>trending_down</mat-icon>
                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">Transaction 1</div>
                  <div class="text-sm">smaller</div>
                </div>
              </div>
              <div class="text-sm font-medium text-green-500">${{ 60000 | number }}</div>
            </li>
            <li matRipple class="flex justify-between items-center py-1">
              <div class="flex items-center">
                <mat-icon>trending_up</mat-icon>
                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">Transaction 1</div>
                  <div class="text-sm">smaller</div>
                </div>
              </div>
              <div class="text-sm font-medium text-red-500">${{ 60000 | number }}</div>
            </li>
            <li matRipple class="flex justify-between items-center py-1">
              <div class="flex items-center">
                <mat-icon>trending_down</mat-icon>
                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">Transaction 1</div>
                  <div class="text-sm">smaller</div>
                </div>
              </div>
              <div class="text-sm font-medium text-green-500">${{ 60000 | number }}</div>
            </li>
            <li matRipple class="flex justify-between items-center py-1">
              <div class="flex items-center">
                <mat-icon>trending_up</mat-icon>
                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">Transaction 1</div>
                  <div class="text-sm">smaller</div>
                </div>
              </div>
              <div class="text-sm font-medium text-red-500">${{ 60000 | number }}</div>
            </li>
          </ul>
        </div>

        <div class="">
          <div class="flex justify-between items-center pb-2 pt-3">
            <div class="text-sm tracking-tight font-medium text-indigo-500">Mie 15 de septiembre de 2021</div>
            <div class="text-sm font-medium">${{ 50000 | number }}</div>
          </div>
          <ul class="flex flex-col">
            <li matRipple class="flex justify-between items-center py-1">
              <div class="flex items-center">
                <mat-icon>trending_down</mat-icon>
                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">Transaction 1</div>
                  <div class="text-sm">smaller</div>
                </div>
              </div>
              <div class="text-sm font-medium text-green-500">${{ 60000 | number }}</div>
            </li>
            <li matRipple class="flex justify-between items-center py-1">
              <div class="flex items-center">
                <mat-icon>trending_up</mat-icon>
                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">Transaction 1</div>
                  <div class="text-sm">smaller</div>
                </div>
              </div>
              <div class="text-sm font-medium text-red-500">${{ 60000 | number }}</div>
            </li>
            <li matRipple class="flex justify-between items-center py-1">
              <div class="flex items-center">
                <mat-icon>trending_down</mat-icon>
                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">Transaction 1</div>
                  <div class="text-sm">smaller</div>
                </div>
              </div>
              <div class="text-sm font-medium text-green-500">${{ 60000 | number }}</div>
            </li>
            <li matRipple class="flex justify-between items-center py-1">
              <div class="flex items-center">
                <mat-icon>trending_up</mat-icon>
                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">Transaction 1</div>
                  <div class="text-sm">smaller</div>
                </div>
              </div>
              <div class="text-sm font-medium text-red-500">${{ 60000 | number }}</div>
            </li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>
