<div class="container">
  <div appFlex column class="xs-12">
    <app-tabset>
      <app-tab tabTitle="Movimientos">
        <ng-container *ngFor="let movements of data | movement">
          <app-movements-list [date]="movements.date">
            <app-movement-item
              *ngFor="let movement of movements.values"
              [icon]="movement.category.icon"
              [category]="movement.category.name"
              [color]="movement.category.color"
              [quantity]="movement.quantity"
              [description]="movement.description">
            </app-movement-item>
          </app-movements-list>
        </ng-container>
      </app-tab>
      <app-tab tabTitle="Agregar" active>
        <app-add-movement></app-add-movement>
      </app-tab>
    </app-tabset>
  </div>
</div>
