<div
  class="p-4 md:p-8 flex flex-col h-full overflow-y-auto"
  appInfiniteScroll
  [target]="targetToObserve"
  [active]="activeScroll"
  [completed]="completedScroll"
  (scrolled)="scrolled()"
>

  <div class="grid grid-cols-4 gap-4 md:grid-cols-6 md:gap-8">

    <div class="flex flex-col col-span-4 rounded-xl shadow p-6 bg-white">
      <div class="flex justify-between">
        <div class="text-lg font-medium pb-2 md:pb-0">Movimientos </div>
        <div class="ml-2 -mt-2 -mr-3">
          <button mat-icon-button aria-label="Example icon-button with a menu">
            <mat-icon>filter_list</mat-icon>
          </button>
        </div>
      </div>

      <div class="divide-y">

        <div *ngFor="let item of movements">

          <div class="flex justify-between items-center pb-2 pt-3">
            <div class="text-sm font-medium text-indigo-500"> {{ item.group }}</div>
            <div class="text-sm font-medium">${{ item.accumulated | number }}</div>
          </div>
          <ul class="flex flex-col gap-2">

            <li matRipple (click)="openDialog()" class="flex justify-between items-center rounded-xl py-2 px-1"
                *ngFor="let movement of item.values; trackBy: trackByFn">
              <div class="flex items-center">
                <div class="rounded-full w-8 h-8 flex justify-center items-center {{ movement.category?.color }}">
                  <mat-icon>{{ movement.category?.icon }}</mat-icon>
                </div>

                <div class="pl-3 flex flex-col">
                  <div class="text-sm font-medium">{{ movement.description }}</div>
                  <div class="text-xs">{{ movement.subcategory?.name }}</div>
                </div>
              </div>
              <div class="text-sm font-medium text-green-500">${{ movement.amount | number }}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div #targetToObserve>{{ queryParams.page }}</div>
</div>
