.menu {
  position: relative;
  height: calc(100vh - var(--nav-height));
  background: var(--bg-primary);
  color: var(--text-color);
  box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-bottom: 1px solid #edf1f7;

  .menu-content {
    display: flex;
    padding: 1.2rem 1rem;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;

    .text {
      padding-left: 0.8rem;
      overflow: hidden;
    }

    &.is-active {
      color: var(--primary);
    }
  }
}
