:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  app-nav {
    grid-row: span 1;
    grid-column: span 2;
  }

  app-sidebar {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .content {
    overflow-y: auto;
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: var(--bg-secondary);
    min-height: calc(100vh - var(--nav-height));

    .sub-header {
      background: var(--bg-primary);

      .page-title {
        h2 {
          font-size: 34px;
          text-transform: capitalize;
          font-weight: normal;
          padding-bottom: 25px;

          @media (min-width: 600px) {

          }
        }
      }
    }

    .main-layout {
      box-sizing: border-box;
      grid-column: 2 / 3;
      grid-row: 4;
      background-color: var(--bg-secondary);
    }
  }
}

.page-title {
  h2 {
    display: block;
    width: 100%;
    background: white;
  }

}

:host(.is-collapsed) {
  app-sidebar {
    width: 0;
  }
}

:host(.is-expanded) {
  app-sidebar {
    width: 100vw;
  }

  .content {
    display: none;
  }
}

@media (min-width: 600px) {
  :host(.is-collapsed) {
    app-sidebar {
      width: 3.5rem;
    }
  }

  :host(.is-expanded) {
    app-sidebar {
      width: 16rem;
    }

    .content {
      display: unset;
    }
  }
}
