<div class="flex flex-col p-4 gap-2">
  <div class="flex items-center justify-between text-stone-600 h-[40px]">
    <div class="flex items-center gap-2">
      <mat-icon class="material-icons">swap_vert</mat-icon>
      <div class="text-xl font-medium">{{ tittle[action] }}</div>
    </div>

    <button *ngIf="action === 'read'" mat-icon-button (click)="editMovement()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <form
    class="flex flex-col w-full gap {{ form.get('type')?.value }}"
    [formGroup]="form"
    (submit)="onSubmit()"
  >
    <!--Movement type-->
    <div class="flex pt-2 pb-2 items-center">
      <mat-icon class="text-{{ formColor }} mr-2">swap_vert</mat-icon>
      <div class="flex flex-col">
        <label class="pb-1 text-[14px] text-[rgba(0,0,0,.6)]">
          Tipo de movimiento
        </label>
        <mat-radio-group
          aria-label="Select an option"
          class="flex my-2 gap-4"
          color="primary"
          formControlName="type"
        >
          <mat-radio-button class="mr-4 text-[rgba(0,0,0,.8)]" value="expense">
            Gasto
          </mat-radio-button>
          <mat-radio-button class="text-[rgba(0,0,0,.8)]" value="income">
            Ingreso
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!--Date-->
    <mat-form-field
      (click)="picker.open()"
      [appearance]="appearance"
      floatLabel="auto"
    >
      <mat-icon matPrefix class="text-{{ formColor }} mr-2">today</mat-icon>
      <mat-label>Fecha</mat-label>
      <input
        matInput
        type="datetime"
        formControlName="date"
        readonly
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!--Description-->
    <mat-form-field [appearance]="appearance" floatLabel="auto">
      <mat-label>Descripción</mat-label>
      <mat-icon matPrefix class="text-{{ formColor }} mr-2">mode_edit</mat-icon>
      <input matInput formControlName="description" autocomplete="off" />
    </mat-form-field>

    <!--Amount-->
    <mat-form-field [appearance]="appearance" floatLabel="auto">
      <mat-label>Total</mat-label>
      <mat-icon matPrefix class="text-{{ formColor }} mr-2 !focus:shadow-none">
        monetization_on
      </mat-icon>
      <input
        matInput
        type="number"
        formControlName="amount"
        autocomplete="off"
      />
    </mat-form-field>

    <!--Category-->
    <mat-form-field [appearance]="appearance" floatLabel="auto">
      <mat-label>Categoría</mat-label>
      <mat-icon matPrefix class="text-{{ formColor }} mr-2">category</mat-icon>
      <mat-select formControlName="category" [compareWith]="compare">
        <mat-select-trigger>
          {{
            form.get('category').value?.name ?? 'Seleccione una categoría'
              | capitalize
          }}
        </mat-select-trigger>
        <mat-option *ngFor="let item of categories" [value]="item">
          <mat-icon matPrefix class="text-{{ item.color }}">{{
            item.icon
          }}</mat-icon>
          {{ item.name | capitalize }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--Subcategory-->
    <mat-form-field [appearance]="appearance" floatLabel="auto">
      <mat-label>Subcategoría</mat-label>
      <mat-icon
        *ngIf="form.get('category').value"
        matPrefix
        class="text-{{ formColor }} mr-2"
      >
        {{ form.get('category').value.icon }}
      </mat-icon>
      <mat-select formControlName="subcategory" [compareWith]="compare">
        <mat-select-trigger>
          {{
            form.get('subcategory').value?.name ?? 'Seleccione una subcategoría'
              | capitalize
          }}
        </mat-select-trigger>
        <mat-option *ngFor="let item of subcategories" [value]="item">
          {{ item.name | capitalize }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex gap-8" *ngIf="action === 'read'">
      <button
        type="button"
        class="w-full border border-neutral-300 p-2 rounded flex justify-center items-center text-neutral-400"
        mat-ripple
        (click)="closeDialog()"
      >
        <mat-icon matPrefix class="mr-1 material-icons-outlined">
          close
        </mat-icon>
        <span>Cancelar</span>
      </button>
      <div class="flex w-full"></div>
    </div>

    <div class="flex gap-8" *ngIf="action !== 'read'">
      <button
        type="button"
        class="w-full border border-neutral-200 p-2 rounded flex justify-center items-center text-neutral-400"
        mat-ripple
        (click)="closeDialog()"
      >
        <mat-icon matPrefix class="mr-1 material-icons-outlined">
          close
        </mat-icon>
        <span>Cancelar</span>
      </button>

      <button
        class="w-full p-2 rounded flex justify-center items-center text-white bg-{{
          formColor
        }}"
        mat-ripple
      >
        <mat-icon matPrefix class="mr-1">save</mat-icon>
        <span>Guardar</span>
      </button>
    </div>
  </form>
</div>
