<div class="container">
  <app-card>
    <app-card-header class="row j-between">
      Presupuesto Total
    </app-card-header>
    <app-card-body>
      <div class="row budget">
        <div class="progress column j-center">
          <app-progress progress="40"></app-progress>
          <div class="header row j-between">
            <span>Gastado: <b>${{350000 | thousandSuffixes }}</b></span>
            <span>Total: <b>${{350000 | thousandSuffixes }}</b></span>
          </div>
        </div>
      </div>
    </app-card-body>
  </app-card>

  <app-card>
    <app-card-header class="row j-between">
      Presupuestos
    </app-card-header>
    <app-card-body>
      <div class="row budget">
        <div class="icon column j-center">
          <app-icon icon="local_taxi"></app-icon>
        </div>
        <div class="progress column j-center">
          <div class="header row j-between">
            <div class="column">
              <small><b>Transporte</b></small>
              <span>5 transacciones</span>
            </div>
            <div class="row a-center">
              <span><b>${{350000 | thousandSuffixes }}</b> de <b>${{400000 | thousandSuffixes}}</b></span>
            </div>
          </div>
          <app-progress progress="40"></app-progress>
        </div>
      </div>
      <div class="row budget">
        <div class="icon column j-center">
          <app-icon icon="local_taxi"></app-icon>
        </div>
        <div class="progress column j-center">
          <div class="header row j-between">
            <div class="column">
              <small><b>Transporte</b></small>
              <span>5 transacciones</span>
            </div>
            <div class="row a-center">
              <span><b>${{350000 | thousandSuffixes }}</b> de <b>${{485360 | thousandSuffixes}}</b></span>
            </div>
          </div>
          <app-progress progress="40"></app-progress>
        </div>
      </div>
    </app-card-body>
  </app-card>
</div>
