<div class="container">
  <app-card>
    <app-card-header class="row j-between">
      <span>Total Presupuesto</span>
      <span>$400000</span>
    </app-card-header>
    <app-card-body>
      <app-progress progress="40"></app-progress>
      <div class="row j-between">
        <div class="column a-start xs-6">
          <h4 class="label">Gastado</h4>
          <small class="chart-label">{{3000000 | currency:'USD':true:'1.0'}}</small>
        </div>
        <div class="column a-end xs-6">
          <h4 class="label">Disponible</h4>
          <small class="chart-label">{{3000000 | currency:'USD':true:'1.0'}}</small>
        </div>
      </div>
    </app-card-body>
  </app-card>

  <app-card>
    <app-card-header class="row j-between">
      Presupuestos
    </app-card-header>
    <app-card-body>
      <div class="row budget">
        <div class="icon column j-center">
          <app-icon icon="local_taxi"></app-icon>
        </div>
        <div class="progress column j-center">
          <div class="header row j-between">
            <div class="column">
              <small><b>Transporte</b></small>
              <span>5 transacciones</span>
            </div>
            <div class="row a-center">
              <span><b>${{350000 | thousandSuffixes }}</b> de <b>${{400000 | thousandSuffixes}}</b></span>
            </div>
          </div>
          <app-progress progress="40"></app-progress>
        </div>
      </div>
      <div class="row budget">
        <div class="icon column j-center">
          <app-icon icon="local_taxi"></app-icon>
        </div>
        <div class="progress column j-center">
          <div class="header row j-between">
            <div class="column">
              <small><b>Transporte</b></small>
              <span>5 transacciones</span>
            </div>
            <div class="row a-center">
              <span><b>${{350000 | thousandSuffixes }}</b> de <b>${{485360 | thousandSuffixes}}</b></span>
            </div>

          </div>
          <app-progress progress="40"></app-progress>
        </div>
      </div>
    </app-card-body>
  </app-card>
</div>
