/* You can add global styles to this file, and also import other style files */
:root {
  --red: #fc5c65 ;
  --orange: #fd9644;
  --yellow: #fed330;
  --green: #26de81;
  --blue: #45aaf2;
  --purple: #a55eea;
  --gray: #4b6584;
  --black: #000;
  --white: #fff;
  --nav-height: 4.75rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: sans-serif;
  font-family:
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

// Scrollbar
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollable-y {
  overflow-y: auto;
  overflow-x: hidden;
}
