$flex: (
  'j': (
    'property'      : 'justify-content',
    'values': (
      'start'       : 'flex-start',
      'end'         : 'flex-end',
      'center'      : 'center',
      'between'     : 'space-between',
      'around'      : 'space-around',
      'evenly'      : 'space-evenly'
    )
  ),
  'a': (
    'property'      : 'align-items',
    'values': (
      'stretch'     : 'stretch',
      'start'       : 'flex-start',
      'end'         : 'flex-end',
      'center'      : 'center',
      'baseline'    : 'baseline'
    )
  )
) !default;

@each $aligning , $map in $flex {
  $property   : map-get($map, 'property');
  $values     : map-get($map, 'values');

  @each $key, $value in $values {
    .#{$aligning}-#{$key} {
      #{$property}: #{$value}
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
