body {
  color: var(--text-color);
  font-family: 'Roboto', sans-serif !important;
}

span, b {
  font-size: 0.7rem;
}

h4 {
  font-size: 0.8rem;
}



@media (min-width: 600px) {
  span, b {
    font-size: 0.9rem;
  }

  input {
    font-size: 0.9rem;
  }
}
