$grid-columns: 12 !default;

$breakpoints: (
  'xs' '(min-width: 0px)',
  'sm' '(min-width: 576px)',
  'md' '(min-width: 768px)',
  'lg' '(min-width: 992px)',
  'xl' '(min-width: 1200px)',
) !default;

@mixin grid-loop($name) {
  @for $i from 1 through $grid-columns {
    $percentage: percentage($i/$grid-columns);

    .#{$name}-#{$i} {
      max-width: $percentage;
      width: 100%;
    }
  }
}

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $declaration: nth($breakpoint, 2);

  @media only screen and #{$declaration} {
    @include grid-loop($name);
  }
}
