$grid-columns: 12 !default;

$breakpoint-md: 1024px !default;
$breakpoint-sm: 768px !default;

//$breakpoints: (
//  'xs' '(max-width: 575px)',
//  'sm' '(min-width: 576px)',
//  'md' '(min-width: 768px)',
//  'lg' '(min-width: 992px)',
//) !default;

$breakpoints: (
  'xs' '(min-width: 0px)',
  'sm' '(min-width: 576px)',
  'md' '(min-width: 768px)',
  'lg' '(min-width: 992px)',
) !default;

@mixin grid-loop($name) {
  @for $i from 1 through $grid-columns {
    $percentage: percentage($i/$grid-columns);

    .#{$name}-#{$i}  {
      max-width: $percentage;
      width: 100%;
    }
  }
}

.container {
  margin: 0 auto;
  padding: 25px 4% 0;

  @media (min-width: 600px) {
    padding: 30px 4% 0;
    max-width: 1200px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $declaration: nth($breakpoint, 2);

  @media only screen and #{$declaration} {
    @include grid-loop($name);
  }
}


