* {
  /* Text rendering */
  text-rendering: optimizeLegibility;

  -webkit-tap-highlight-color: transparent;

  /* Remove the focus ring */
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
