@use '@angular/material' as mat;
@use "sass:map";
@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

/* Generate Primary, Accent and Warn palettes */
$palettes: ();
@each $name in (primary, accent, warn) {
  $palettes: map.merge($palettes, (#{$name}: (
    50: var(--#{$name}-50),
    100: var(--#{$name}-100),
    200: var(--#{$name}-200),
    300: var(--#{$name}-300),
    400: var(--#{$name}-400),
    500: var(--#{$name}-500),
    600: var(--#{$name}-600),
    700: var(--#{$name}-700),
    800: var(--#{$name}-800),
    900: var(--#{$name}-900),
    contrast: (
      50: var(--contrast-#{$name}-50),
      100: var(--contrast-#{$name}-100),
      200: var(--contrast-#{$name}-200),
      300: var(--contrast-#{$name}-300),
      400: var(--contrast-#{$name}-400),
      500: var(--contrast-#{$name}-500),
      600: var(--contrast-#{$name}-600),
      700: var(--contrast-#{$name}-700),
      800: var(--contrast-#{$name}-800),
      900: var(--contrast-#{$name}-900)
    ),
    default: var(--#{$name}-main),
    lighter: var(--#{$name}-100),
    darker: var(--#{$name}-700),
    text: var(--#{$name}-main),
    default-contrast: var(--contrast-#{$name}-main),
    lighter-contrast: var(--contrast-#{$name}-100),
    darker-contrast: var(--contrast-#{$name}-700)
  )));
}

/* Generate Angular Material themes. Since we are using CSS Custom Properties,
    we don't have to generate a separate Angular Material theme for each color
    set. We can just create one light and one dark theme and then switch the
    CSS Custom Properties to dynamically switch the colors. */
body.light,
body .light {
  //@debug mat.$indigo-palette;

  $base-light-theme: mat.define-light-theme((
    color: ($palettes)
  ));

  // Background palette for light themes.
  $light-background: (
    status-bar: map.get(mat.$grey-palette, 300),
    bar:    map.get(mat.$grey-palette, 100),
    background: map.get(mat.$grey-palette, 50),
    hover:      rgba(black, 0.04),
    card:       white,
    dialog:     white,
    disabled-button: rgba(black, 0.12),
    raised-button: white,
    focused-button: $dark-focused,
    selected-button: map.get(mat.$grey-palette, 300),
    selected-disabled-button: map.get(mat.$grey-palette, 400),
    disabled-button-toggle: map.get(mat.$grey-palette, 200),
    unselected-chip: map.get(mat.$grey-palette, 300),
    disabled-list-option: map.get(mat.$grey-palette, 200),
    tooltip: map.get(mat.$grey-palette, 700),
  );

  // Foreground palette for light themes.
  $light-foreground: (
    base:              black,
    divider:           $dark-dividers,
    dividers:          $dark-dividers,
    disabled:          $dark-disabled-text,
    disabled-button:   rgba(black, 0.26),
    disabled-text:     $dark-disabled-text,
    elevation:         black,
    hint-text:         $dark-disabled-text,
    secondary-text:    $dark-secondary-text,
    icon:              rgba(black, 0.54),
    icons:             rgba(black, 0.54),
    text:              rgba(black, 0.87),
    slider-min:        rgba(black, 0.87),
    slider-off:        rgba(black, 0.26),
    slider-off-active: rgba(black, 0.38),
  );

  $light-theme: (
    color: (
      primary: map.get(map.get($base-light-theme, color), primary),
      accent: map.get(map.get($base-light-theme, color), accent),
      warn: map.get(map.get($base-light-theme, color), warn),
      is-dark: map.get(map.get($base-light-theme, color), is-dark),
      foreground: $light-foreground,
      background: $light-background,
      //foreground: (
      //  base: #000000,
      //  divider: #94A3B8,
      //  dividers: #94A3B8, /* blueGray.200 */
      //  disabled: #94A3B8, /* blueGray.400 */
      //  disabled-button: #94A3B8, /* blueGray.400 */
      //  disabled-text: #94A3B8, /* blueGray.400 */
      //  elevation: #000000,
      //  hint-text: #94A3B8, /* blueGray.400 */
      //  secondary-text: #64748B, /* blueGray.500 */
      //  icon: #64748B, /* blueGray.500 */
      //  icons: #64748B, /* blueGray.500 */
      //  mat-icon: #64748B, /* blueGr.500 */
      //  text: #1E293B, /* blueGray.800 */
      //  slider-min: #1E293B, /* blueGray.800 */
      //  slider-off: #CBD5E1, /* blueGray.300 */
      //  slider-off-active: #94A3B8 /* blueGray.400 */
      //),
      //background: (
      //  status-bar: #CBD5E1, /* blueGray.300 */
      //  bar: #FFFFFF,
      //  background: #F1F5F9, /* blueGray.100 */
      //  hover: rgba(148, 163, 184, 0.12), /* blueGray.400 + opacity */
      //  card: #FFFFFF,
      //  dialog: #FFFFFF,
      //  disabled-button: rgba(148, 163, 184, 0.38), /* blueGray.400 + opacity */
      //  raised-button: #FFFFFF,
      //  focused-button: #64748B, /* blueGray.500 */
      //  selected-button: #E2E8F0, /* blueGray.200 */
      //  selected-disabled-button: #E2E8F0, /* blueGray.200 */
      //  disabled-button-toggle: #CBD5E1, /* blueGray.300 */
      //  unselected-chip: #E2E8F0, /* blueGray.200 */
      //  disabled-list-option: #CBD5E1, /* blueGray.300 */
      //  tooltip: #1E293B /* blueGray.800 */
      //)
    )
  );

  /* Use all-component-colors to only generate the colors */
  @include mat.all-component-colors($light-theme);
}

body.dark,
body .dark {
  $base-dark-theme: mat.define-dark-theme((
    color: ($palettes)
  ));

  // Background palette for dark themes.
  $dark-background: (
    status-bar: black,
    bar:    map.get(mat.$grey-palette, 900),
    background: #303030,
    hover:      rgba(white, 0.04),
    card:       map.get(mat.$grey-palette, 800),
    dialog:     map.get(mat.$grey-palette, 800),
    disabled-button: rgba(white, 0.12),
    raised-button: map.get(mat.$grey-palette, 800),
    focused-button: $light-focused,
    selected-button: map.get(mat.$grey-palette, 900),
    selected-disabled-button: map.get(mat.$grey-palette, 800),
    disabled-button-toggle: black,
    unselected-chip: map.get(mat.$grey-palette, 700),
    disabled-list-option: rgba(white, 0.12),
    tooltip: map.get(mat.$grey-palette, 700),
  );

  //// Foreground palette for dark themes.
  $dark-foreground: (
    base:              white,
    divider:           $light-dividers,
    dividers:          $light-dividers,
    disabled:          $light-disabled-text,
    disabled-button:   rgba(white, 0.3),
    disabled-text:     $light-disabled-text,
    elevation:         black,
    hint-text:         $light-disabled-text,
    secondary-text:    $light-secondary-text,
    icon:              white,
    icons:             white,
    text:              white,
    slider-min:        white,
    slider-off:        rgba(white, 0.3),
    slider-off-active: rgba(white, 0.3),
  );

  $dark-theme: (
    color: (
      primary: map.get(map.get($base-dark-theme, color), primary),
      accent: map.get(map.get($base-dark-theme, color), accent),
      warn: map.get(map.get($base-dark-theme, color), warn),
      is-dark: map.get(map.get($base-dark-theme, color), is-dark),
      foreground: $dark-foreground,
      background: $dark-background,
      //foreground: (
      //  base: #FFFFFF,
      //  divider: rgba(241, 245, 249, 0.12), /* blueGray.100 + opacity */
      //  dividers: rgba(241, 245, 249, 0.12), /* blueGray.100 + opacity */
      //  disabled: #475569, /* blueGray.600 */
      //  disabled-button: #1E293B, /* blueGray.800 */
      //  disabled-text: #475569, /* blueGray.600 */
      //  elevation: #000000,
      //  hint-text: #64748B, /* blueGray.500 */
      //  secondary-text: #94A3B8, /* blueGray.400 */
      //  icon: #F1F5F9, /* blueGray.100 */
      //  icons: #F1F5F9, /* blueGray.100 */
      //  mat-icon: #94A3B8, /* blueGray.400 */
      //  text: #FFFFFF,
      //  slider-min: #FFFFFF,
      //  slider-off: #64748B, /* blueGray.500 */
      //  slider-off-active: #94A3B8 /* blueGray.400 */
      //),
      //background: (
      //  status-bar: #0F172A, /* blueGray.900 */
      //  bar: #0F172A, /* blueGray.900 */
      //  background: #0F172A, /* blueGray.900 */
      //  hover: rgba(255, 255, 255, 0.05),
      //  card: #1E293B, /* blueGray.800 */
      //  dialog: #1E293B, /* blueGray.800 */
      //  disabled-button: rgba(15, 23, 42, 0.38), /* blueGray.900 + opacity */
      //  raised-button: #0F172A, /* blueGray.900 */
      //  focused-button: #E2E8F0, /* blueGray.200 */
      //  selected-button: rgba(255, 255, 255, 0.05),
      //  selected-disabled-button: #1E293B, /* blueGray.800 */
      //  disabled-button-toggle: #0F172A, /* blueGray.900 */
      //  unselected-chip: #475569, /* blueGray.600 */
      //  disabled-list-option: #E2E8F0, /* blueGray.200 */
      //  tooltip: #64748B /* blueGray.500 */
      //)
    )
  );

  /* Use all-component-colors to only generate the colors */
  @include mat.all-component-colors($dark-theme);
}
