:root {
  --app-primary-50 : #e7f0fe;
  --app-primary-100 : #c4dafc;
  --app-primary-200 : #9dc1fb;
  --app-primary-300 : #76a8f9;
  --app-primary-400 : #5895f7;
  --app-primary-500 : #3b82f6;
  --app-primary-600 : #357af5;
  --app-primary-700 : #2d6ff3;
  --app-primary-800 : #2665f2;
  --app-primary-900 : #1952ef;
  --app-primary: var(--app-primary-500);
  --app-contrast-primary-50 : #000000;
  --app-contrast-primary-100 : #000000;
  --app-contrast-primary-200 : #000000;
  --app-contrast-primary-300 : #000000;
  --app-contrast-primary-400 : #000000;
  --app-contrast-primary-500 : #ffffff;
  --app-contrast-primary-600 : #ffffff;
  --app-contrast-primary-700 : #ffffff;
  --app-contrast-primary-800 : #ffffff;
  --app-contrast-primary-900 : #ffffff;
  --app-contrast-primary: var(--app-contrast-primary-500);

  --app-accent-50: #f8fafc;
  --app-accent-100: #f1f5f9;
  --app-accent-200: #e2e8f0;
  --app-accent-300: #cbd5e1;
  --app-accent-400: #94a3b8;
  --app-accent-500: #64748b;
  --app-accent-600: #475569;
  --app-accent-700: #334155;
  --app-accent-800: #1e293b;
  --app-accent-900: #0f172a;
  --app-accent: var(--app-accent-500);
  --app-contrast-accent-50: #0f172a;
  --app-contrast-accent-100: #0f172a;
  --app-contrast-accent-200: #0f172a;
  --app-contrast-accent-300: #0f172a;
  --app-contrast-accent-400: #0f172a;
  --app-contrast-accent-500: #ffffff;
  --app-contrast-accent-600: #ffffff;
  --app-contrast-accent-700: #ffffff;
  --app-contrast-accent-800: #ffffff;
  --app-contrast-accent-900: #ffffff;
  --app-contrast-accent: var(--app-contrast-accent-500);

  --app-warn-50: #fef2f2;
  --app-warn-100: #fee2e2;
  --app-warn-200: #fecaca;
  --app-warn-300: #fca5a5;
  --app-warn-400: #f87171;
  --app-warn-500: #ef4444;
  --app-warn-600: #dc2626;
  --app-warn-700: #b91c1c;
  --app-warn-800: #991b1b;
  --app-warn-900: #7f1d1d;
  --app-warn: #dc2626;
  --app-contrast-warn-50: #7f1d1d;
  --app-contrast-warn-100: #7f1d1d;
  --app-contrast-warn-200: #7f1d1d;
  --app-contrast-warn-300: #7f1d1d;
  --app-contrast-warn-400: #7f1d1d;
  --app-contrast-warn-500: #fef2f2;
  --app-contrast-warn-600: #FFFFFF;
  --app-contrast-warn-700: #FFFFFF;
  --app-contrast-warn-800: #FFFFFF;
  --app-contrast-warn-900: #FFFFFF;
  --app-contrast-warn: #FFFFFF;
}































