.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--foreground);
  color: var(--text-color);
  height: var(--nav-height);
  border-bottom: 1px solid rgba(0,0,0,.05);
  position: sticky;
  z-index: 1;
}

header {
  width: 100vw;
  padding: 1.25rem;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;

  .menu {
    cursor: pointer;
    margin-right: 1.25rem;
    color: var(--gray);
    user-select: none;
  }

  .logo {
    border-left: 1px solid #edf1f7;
    padding: 0 1.25rem;
    font-size: 1.75rem;
    white-space: nowrap;
    text-decoration: none;
    color: var(--gray);
  }

  .items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0 0 0 auto;

    .link {
      border-left: 1px solid #edf1f7;
      padding: 0 20px;
      color: var(--gray);
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

